---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'ReyHub | Blockchain Validator & Delegate',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=68b38a1c5b7a352c0f780c5d&product=sop' async='async'></script>
  <!-- Hero Widget ******************* -->

  <Hero
   
  >
    <Fragment slot="title">
      Blockchain <span class="hidden xl:inline"></span>
      <span class="text-accent dark:text-white"> &</span> Validator
    </Fragment>

    <Fragment slot="subtitle">
      <script defer src="https://www.livecoinwatch.com/static/lcw-widget.js"></script> <div class="livecoinwatch-widget-5" lcw-base="USD" lcw-color-tx="#0693e3" lcw-marquee-1="coins" lcw-marquee-2="coins" lcw-marquee-items="30" ></div>

     <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
<dotlottie-wc src="https://lottie.host/b914dfd6-8941-44a4-b95c-dac251b75141/7CnzUgkjUi.lottie" speed="1" style="width: 100%; height: 420px" mode="forward" loop autoplay></dotlottie-wc>
      <span class="hidden sm:inline">
        <span class="font-semibold">Top-Tier Validator </span> Capabilities from Liquid
        </span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Staking Pioneers  Secure, reliable, and experienced </span>
     validator node management for blockchains and businesses.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->
  <Fragment slot="title">
      Buy,&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Sell, Swap Crypto</span>
    </Fragment>

    <Fragment slot="subtitle">
      Choose an exchange pair from the list. There are more than. <br class="hidden md:inline" /> 50,000 of them, so you will definitely find one that you want.
    </Fragment>
  </CallToAction>
  <script>
  (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();

  ChannelIO('boot', {
    "pluginKey": "95370237-8a38-471a-9c1c-31e780a00245"
  });
</script>
</Layout>
